* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(20, 17, 23, 0.9);
}

/* =========== défintion de font ================ */

@font-face {
    font-family: pop;
    src: url("/todo_app/public/fonts/Poppins-Black.ttf");
    font-weight: 800;
}

@font-face {
    font-family: pop;
    src: url("/todo_app/public/fonts/Poppins-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: pop;
    src: url("/todo_app/public/fonts/Poppins-Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: pop;
    src: url("/todo_app/public/fonts/Poppins-Thin.ttf");
    font-weight: 200;
}
