.nav {
    display: flex;
    justify-content: center;
    border: 10px solid #eee;
    border-radius: 10px;
    width: 200px;
    margin: 20px auto;
    background-color: #eee;
}

.nav button {
    margin-left: 10px;
}
