/* body {
    background-color: rgb(15, 18, 20);
    color: white;
} */

.app {
    margin-top: 20px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
