.parent {
    display: flex;
    justify-content: space-between;
    background-color: #009688;
    color: white;
    padding: 20px;
    width: 600px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all 0.3s;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

.text {
    text-align: left;
}

.parent:hover {
    padding: 30px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.7);
}

.cercle-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    border: 2px solid red;
}

.cercle-icon:hover {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.7);
}
